{% extends "template.html" %}

{% block content %}
<div class="title">
  <img src="/public/assets/dino.png" alt="">
  <h1>Meme Maker</h1>
</div>

<div class="content">
  <div class="main">
    <div class="list">
      <ul>
        {% for file in files %}
        <li><img class="files" src="/public/memes/{{file}}" alt="{{file}}"></li>
        {% endfor %}
      </ul>
    </div>
    <div class="image">
      <img id="active" src="" alt="">
      <canvas id="canvasPreview"></canvas>
    </div>
  </div>
  <div class="texts">
    <input type="text" id="text">
    <button id="saveBtn">Gerar Meme</button>
    <button id="cancelBtn" onclick="clearAll()">Cancelar</button>
  </div>
</div>
<div id="selectionTool"></div>
<script src="/public/edit-meme.js"></script>
{% endblock %}